.mapDescriptionContainer {
  font-size: 20px;
  font-weight: 200;
}
.menuYearsContainer {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.menuYearsContainer h3 {
  font-size: 22px;
  font-weight: 500;
  margin-left: 10px;
}

.buttonsContainer {
  padding-block: 10px;
  display: flex;
  overflow-x: scroll;
}

.yearButton {
  padding: 6px 10px;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  margin-inline: 8px;
  cursor: pointer;
}
