.topBarContainer {
  margin-top: 30px;
  align-items: center;
}

.topNavBar {
  width: 100%;
  background-color: #222;
  border-color: #080808;
  color: white;
  height: 45px;
  display: flex;
  align-items: center;
}

.goBack {
  margin-right: auto;
  margin-top: -5px;
  padding-left: 50px;
}
.goBack span {
  margin-left: 5px;
}

.headerMenu {
  margin-left: auto;
  margin-top: -5px;
  padding-right: 50px;
}

.menuBarContainer {
  padding: 30px;
}

.menuLabel {
  color: grey;
  font-size: 17px;
}

.formMapType {
  width: 100%;
}

.logoContainer {
  padding: 0px !important;
  width: 100%;
  text-align: center;
}

.logoImage {
  margin: auto;
  width: 100%;
  max-width: 280px;
  height: 80%;
}

.tagStyle{
  height: 30px !important;
  padding: 5px !important;
}

.loaderContainer{
  width: 100%;
}

.link{
  color: #9d9d9d;
  text-decoration: none;
  font-size:18px;
}

.link:hover {
  color: white;
}