@import url("https://fonts.googleapis.com/css?family=Titillium Web");

* {
  font-family: "Titillium Web";
}

body {
  margin: 0px;
}

.generalContainer{
  overflow: hidden;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: black !important;
}



@media screen and (max-width: 768px) {
  .sideBarContainer{
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .sideBarContainer{
    height: 400px;
  }
}

#simple-tabpanel-0 div{
  padding: 0px !important;
}
